[submodule "core-services"]
	path = core-services
	url = https://github.com/intel-retail/core-services
	branch = main
[submodule "performance-tools"]
	path = performance-tools
	url = https://github.com/intel-retail/performance-tools
	branch = main
[submodule "use-cases/opea/GenAIExamples"]
	path = use-cases/opea/GenAIExamples
	url = https://github.com/opea-project/GenAIExamples.git
